*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #066acd;
}
.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%, -50%);

}
.container h1{
    text-align: center;
    margin-top: 1em;
}
#newlink{
    position: relative;
    padding: 30px 20px;
}
#newlink input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}
#newlink input:focus{
    outline: none;
    border-color: #066acd;
}
#newlink button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffff;
    cursor: pointer;
    outline: none;
    width: 25%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
#lista{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 10px;

}
.item{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px; 
    list-style: none;

}

a {
    display: block;
    
    color: #333;
    text-decoration: none;  
    
    padding: 16px 0;
    font-size: 1.8rem;
    
  }
  
  a:hover {
    font-weight: bold;
  }
  
  li:first-child,
  li:last-child {
    border: none;
  }
  
  li span {
    cursor:pointer;
  }